.about-right-content {
    color: #666565;
}

.about-right-title {
    position: relative;
    display: inline-block;
    font-family: 'Pacifico', cursive;
    color: #FEA116;
    font-size: 1.25rem;
}
.about-right-title::before{
    position: absolute;
    content: "";
    width: 45px;
    height: 3px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: #FEA116;
    font-weight: 700;
}
.about-right-logo{
    color: #FEA116;
    font-weight: 700;
    margin: 0px 10px;
}
.about-right-content h1{
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #0F172B;
    
}
.about-right-border{
    border-color: #FEA116 !important;
}

.count{
    color: #FEA116 !important;
}
.experience{
    color: #0F172B;
}